<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezio.org.tanngo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WordActivity"
            android:label="@string/title_activity_word" >
        </activity>
        <activity
            android:name=".ui.WordsBooksListActivity"
            android:label="@string/title_activity_words_book_list" >
        </activity>
        <activity
            android:name=".ui.ChangePlanActivity"
            android:label="@string/title_activity_change_plan" >
        </activity>
        <activity
            android:name=".ui.WordsBookDetailActivity"
            android:label="@string/title_activity_words_book_detail" >
        </activity>
    </application>

</manifest>
